<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<button><img src="../../../assets/img/fijo.PNG" alt=""></button>



<ul class="temp">
    <li><a href="celcius">celcius</a></li>
    <li><a href="fahrenheit">fahrenheit</a></li>
</ul>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Valparaiso</a></li>
        <li><a href="#">Metropolitana</a></li>
        <li><a href="#">BioBio</a></li>
        <li><a href="#">Araucania</a></li>
      </ul>
    </div>
</nav>

