<a [routerLink]="['/']" routerLinkActive="router-link-active">  <a></a>
<div class="container">
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a data-toggle="tab" href="#lunes">lunes</a></li>
    <li ><a data-toggle="tab" href="#martes">Martes</a></li>
    <li><a data-toggle="tab" href="#miercoles">miercoles</a></li>
    <li><a data-toggle="tab" href="#jueves">jueves</a></li>
    <li><a data-toggle="tab" href="#viernes">viernes</a></li>
    <li><a data-toggle="tab" href="#savado">savado</a></li>
    <li><a data-toggle="tab" href="#domingo">domingo</a></li>
</ul>
<div class="tab-content">
    <div id="lunes" class="tab-pane fade in active" >
      <h3>imagen del clima</h3>
      <p>temperatura</p>
    </div>
    <div id="martes" class="tab-pane fade ">
      <h3>imagen del clima</h3>
      <p>temperatura</p>
    </div>
    <div id="miercoles" class="tab-pane fade ">
      <h3>imagen del clima</h3>
      <p>temperatura</p>
    </div>
    <div id="jueves" class="tab-pane fade ">
        <h3>imagen del clima</h3>
        <p>temperatura</p>
      </div>
      <div id="viernes" class="tab-pane fade ">
        <h3>imagen del clima</h3>
        <p>temperatura/p>
      </div>
      <div id="savado" class="tab-pane fade ">
        <h3>imagen del clima</h3>
        <p>temperatura</p>
      </div>
      <div id="domingo" class="tab-pane fade ">
        <h3>imagen del clima</h3>
        <p>temperatura</p>
      </div>

  </div>
</div>
